h1 {
  text-align: center;
  font-size: 50pt;
}

/* https://talwolman.github.io/ */

body {
  background-color: mediumaquamarine1;
  width: 85%;
  margin: auto auto;
}

img {
  width: 250px;
}

section {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-evenly;
}